// FeedPage.module.scss

.feedPage {
    background-color: #F6F7F7;
  }
  
  .feedContainer {
    padding-top: 58px;
  }
  
  .feedItem {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 24px auto 0;
    width: 1120px;
  }
  